extends layout
block content
    p this page will show a user's DAGRs. If you are currently logged in, you will use this page to add in new DAGRs
    p it's two pages for the price of one!
    p could use a boolean to tell if its the current user's page or just viewing