.form-class{
    margin: 1rem ;
    padding: 3.5rem;
    border-width: .2rem;
    border: solid #bdbdbd;
}

.my-head, .temp{
    text-align: center;
}

.temp{
    width: 100%;
}

.right{
    width:100%;
}
.delete{
     background:red;
}
.hidden{
    visibility: hidden;
}
.dagr-tab{
    border: solid #bdbdbd;
    margin-top: 5rem;
}